*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  font-family: 'verdana';
}

.card-container{
  /* display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly; */

  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}
.card{
  margin: 40px;
  padding: 10px;
  border: 2px solid white;
  height: 500px;
  width: 350px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;

}

.card img{
  height: 200px;
  width: 140px;
  object-fit: cover;
  border-radius: 20px;
  margin: 30px;
  cursor: pointer;
}

.card h1{
  font-size: larger;
}
.card h4{
  margin: 20px;
}
.card p{
  margin-top: 15px;
  font-style: italic;
}

.card button{
  margin: 25px;
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}