*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  font-family: 'verdana';
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  
}
.card{
  margin: 40px;
  border: 2px solid white;
  height: 400px;
  width: 400px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;

}

.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
}

.card p{
  margin-top: 10px;
  font-style: italic;
}
.card button{
  margin: 20px;
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}